:root
{
    --bg: 245, 249, 255;
    --main: 44, 115, 210;
    --secondary: 171, 217, 255;
    --comp: 213, 164, 25;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a
{
    color: black;
    text-decoration: none;
}

/*FONT SIZES*/
h1,h2,h3,h4,h5,h6
{
    font-weight: 100;
    font-size: 1em;
    margin: 0;
}

h1
{
    font-size: 2em;
    margin-bottom: .75em;
}

h2
{
    font-size: 1.5em;
    margin: .56em 0;
}

.bold
{
    font-weight: 800;
}

body
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(var(--bg));
    text-align: justify;
}

/*HEADER*/
header
{   
    /*sticky header*/
    position: sticky;
    width: 100%;
    top: 0;

    /*flex*/
    display: flex;
    flex-direction: row;
    
    align-items: flex-start;
    justify-content: space-between;
    gap: 1em;
    
    background-color: rgb(var(--bg));
    padding-top: 1em;
    margin-bottom: 2em;
}

/*LOGO*/
.logo
{
    padding: 0;
}
.logo img
{
    width: 6em;
}

/*NAVBAR*/

nav
{
    margin: 0;
}

nav ul
{
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 0;
    padding: 0;
}

nav li
{
    list-style: none;
}

nav a
{
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1em 0;
}

nav a.main
{
    font-size: 1.25em;
    background:linear-gradient(to right,rgb(var(--main)) 50%,#000 50%);
    background-size: 200% 100%;
    background-position: 100% 0;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

nav a.main:hover
{
    background-position: 0 0;
    transition: 500ms;
}

/*DROPDOWN MENU*/

.dropdown
{
    position: absolute;
    background-color: rgb(var(--bg));
    display: block;
    border: 2px solid;
    transform:scale(1,0);
}

.dropdown li
{
    position: static;
}

.dropdown a
{
    padding: 1em .5em;
}

.dropdown-menu a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.dropdown
{
    position: absolute;
}

.dropdown-menu:hover .dropdown
{
    transform: scale(1,1);
    display: block;
}

/*MAIN*/

main
{
    flex-grow: 1;
    flex-shrink: 0;
    padding-bottom: 1em;
}

/*FOOTER*/
footer
{
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: rgb(var(--main));
    padding: .75em 0;

}

/*BUTTON*/

.bttn-main
{
    display: inline-block;
    background-color: rgb(var(--main));
    color: white;
    border-radius: 4px;
    border: none;
    padding:  1em 1em;
}

.bttn-main:hover
{
    background-color: rgba(var(--main), .8);
}

/*LINKS*/

.link-main
{
    color: rgb(var(--main));
}

.link-main:hover
{
    color: rgba(var(--main), .8);
}
/*GENERAL CLASSES*/

.row
{
    display: flex;
    gap: .5em;
}

.column
{
    display: flex;
    flex-direction: column;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.space-between
{
    justify-content: space-between;
}

/*Disables the highlight for symbols*/
.material-symbols-outlined::selection
{
    background: none;
    color: none;
}
/*Buttons with google font symbols*/
button.material-symbols-outlined
{
    border: 0;
    background-color: rgb(var(--bg));
    padding: 0;
    cursor: pointer;
}
/* Mobile */
header,footer,main {
    padding-right: 4%;
    padding-left: 4%;
}

/* Tablet */
@media (min-width:600px) 
{
    header 
    {
        padding-right: 8%;
        padding-left: 8%;
    }

    footer,main
    {
        padding-right: 15%;
        padding-left: 15%;
    }
}

/* Desktop */
@media (min-width:900px) 
{
    header 
    {
        padding-right: 10%;
        padding-left: 10%;
    }
    footer,main
    {
        padding-right: 20%;
        padding-left: 20%;
    }
}
